@use "/src/styles/abstract" as ab;

.login {
	width: calc(var(--vw) * 100);
	min-height: 100vb;

	display: grid;
	place-items: center;

	background-image: url("../../../../public/mobile-login.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;

	@include ab.screen-64 {
		background-image: url("../../../../public/login.png");
		background-position: left center;
		place-items: center end;

		&_modal {
			margin-inline-end: 5vi;
		}
	}

	&_modal {
		width: min(90%, 30em);

		background-image: linear-gradient(#3a3434, #01101b);

		padding: clamp(1.25em, 2vi, 1.75em);
		border-radius: 0.75em;

		display: grid;
		gap: 2.5em;

		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

		a {
			display: inline-block;
		}
	}

	form {
		display: grid;
		gap: 1.5em;

		label {
			font-size: clamp(1rem, 1.5vi, 1.25rem);
		}

		.input {
			display: grid;
			gap: 0.5em;

			input {
				font-size: 1.25rem;
				padding-inline: 0.5em 0.25em;
				padding-block: 0.15em;

				border-radius: 0.3em;
				border-style: solid;

				width: 100%;
			}
		}

		.input_check {
			display: flex;
			align-items: center;
			gap: 0.5em;
		}

		.button {
			text-align: center;

			button {
				font-size: clamp(1.25rem, 1.75vi, 1.5rem);
			}
		}
	}
}

.modal_emailVerification {
	--_w: 37.5em;

	> div {
		display: grid;
		gap: 1.25em;
	}
}

.modal_forgotPassword {
	--_w: 30em;

	.container {
		display: grid;
		gap: 2em;
	}

	.form {
		display: grid;
		gap: 1.5em;

		.input {
			display: grid;
			gap: 0.25em;

			label {
				font-size: clamp(1rem, 1.5vi, 1.25rem);
			}

			input {
				font-size: 1.25rem;
				padding-inline: 0.5em 0.25em;
				padding-block: 0.15em;

				border-radius: 0.3em;
				border-style: solid;

				width: 100%;
			}
		}

		.button {
			display: flex;
			justify-content: flex-end;
			gap: 1.5em;
		}
	}
}
