.container {
    inline-size: 100%;

    display: grid;
    gap: var(--md-sys-layout-space-8);
}

.cover {
    inline-size: 100%;
    height: auto;

    object-fit: cover;
}

.select-cover {
    display: flex;
    justify-content: center;

    padding-block-start: calc(5 * var(--dp, 1px));
}
