@use "/src/styles/abstract" as ab;

.project {
	display: grid;
	gap: clamp(2em, 3vi, 3em);
	min-height: 100%;

	grid-template-rows: auto 1fr;

	.nav {
		--_text: clamp(0.8rem, 3.25vi, 1.25rem);

		display: flex;
		gap: 1.5rem;
		flex-wrap: wrap;

		justify-content: space-between;
		align-items: center;

		.select {
			select {
				--input-bg: var(--bg-400);

				// width: clamp(10rem, 35vi, 15rem);
				width: 15rem;
				// font-size: var(--_text);
			}
		}

		.bread_crumb {
			display: flex;
			gap: 0.25em;

			background-color: var(--bg-400);
			padding: 0.5em 0.75em;
			border-radius: 0.25rem;

			// font-size: var(--_text);
			font-weight: 600;
		}
	}

	.home {
		display: grid;
		gap: 2em;
		height: 100%;
		grid-template-rows: auto auto 1fr;

		.info {
			display: grid;
			gap: 1em;
		}

		p {
			font-size: clamp(1rem, 1.5vi, 1.25rem);
			font-weight: 500;
		}

		.image {
			align-self: end;
			img {
				width: auto;
				height: auto;
				object-fit: cover;
				margin-inline-start: auto;
			}
		}
	}
}
