.project {
    display: grid;
    gap: var(--md-sys-layout-spacer);
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--md-sys-layout-space-8);
    flex-wrap: wrap;
}
