@use "/src/styles/abstract" as ab;

.project {
	background-color: var(--bg-600);
	padding: clamp(1em, 1.75vi, 1.5em);
	border-radius: 0.75em;

	display: grid;
	gap: 1em;

	.nav {
		justify-content: space-between;
		align-items: center;

		margin-block-end: 1em;

		display: grid;
		gap: 1em;

		@include ab.screen-40 {
			display: flex;
		}

		.bread_crumb {
			display: flex;
			gap: 0.25em;

			p {
				user-select: none;
			}
		}
	}
}
