.project {
    display: grid;
    gap: var(--md-sys-layout-spacer);

    > * {
        min-inline-size: 0;
    }
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--md-sys-layout-space-8);
    flex-wrap: wrap;
}
