.projects {
    display: grid;
    gap: clamp(2em, 3vi, 3em);
}

.projects .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.projects .projectContainer {
    display: grid;
    gap: 1.5em;
}

.projects
    .projectContainer:not(
        .projects .projectContainer[data-empty="true"],
        .projects .projectContainer[data-load="true"]
    ) {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
}
