.album {
    --_radius: var(--md-sys-shape-corner-radius-medium);

    border-radius: var(--_radius);
    box-shadow: var(--md-sys-elevation-shadow-1);

    display: grid;
    grid-template-rows: calc(204 * var(--dp, 1px)) auto;

    gap: calc(2 * var(--dp, 1px));
    block-size: 100%;

    position: relative;
    overflow: clip;

    &[data-focus-visible-within] {
        --focus-indicator-thickness: calc(3 * var(--dp, 1px));
        --focus-indicator-offset: calc(2 * var(--dp, 1px));
        --focus-indicator-color: var(--md-sys-color-secondary);

        outline-width: var(--focus-indicator-thickness);
        outline-style: solid;
        outline-offset: var(--focus-indicator-offset);
        outline-color: var(--focus-indicator-color);

        z-index: 1;
    }
}

.cover {
    img {
        object-fit: cover;
        inline-size: 100%;
        block-size: 100%;

        border-radius: var(--_radius);
        border-end-start-radius: 0;
        border-end-end-radius: 0;
    }
}

.title {
    --md-button-color: var(--md-sys-color-on-tertiary-container);
    background-color: rgb(
        from var(--md-sys-color-tertiary-container) r g b /
        0.5
    );
    color: var(--md-sys-color-on-tertiary-container);

    padding-block: var(--md-sys-layout-space-8);
    padding-inline: var(--md-sys-layout-space-12);

    border-radius: var(--_radius);
    border-start-start-radius: 0;
    border-start-end-radius: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    flex: 1;
    min-width: 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;

    overflow: hidden;
}
