.scaffold {
    position: fixed;
    inset: 0;

    overflow: auto;

    &[data-docked-navigation] {
        display: flex;
        justify-content: center;
        gap: var(--md-sys-layout-spacer);

        margin-block-start: var(--md-sys-layout-window-size-medium-margin);
        padding-inline-start: var(--md-sys-layout-window-size-medium-margin);
    }
}

.main {
    flex: 1;
    max-inline-size: var(--md-sys-layout-window-size-extra-large);
}

.docked-navigation {
    position: sticky;
    top: 0;

    inline-size: 30%;
    max-inline-size: calc(360 * var(--dp, 1px));
    min-inline-size: calc(220 * var(--dp, 1px));

    block-size: calc(100% - var(--md-sys-layout-window-size-medium-margin));

    border: var(--md-sys-shape-border-width-thick) solid
        rgb(from var(--md-sys-color-outline-variant) r g b / 0.5);
    border-radius: var(--md-sys-shape-corner-radius-medium);

    display: grid;
    grid-template-rows: 1fr;
}
