.project {
    --_state-color: var(--md-sys-color-surface-tint);
    --_state-layer-opacity: 0;

    --_state-layer-color: rgb(
        from var(--_state-color) r g b /
        var(--_state-layer-opacity)
    );

    background-color: var(--md-sys-color-surface-container);
    padding: var(--md-sys-layout-space-16);
    border-radius: var(--md-sys-shape-corner-radius-large);

    display: grid;
    gap: var(--md-sys-layout-space-12);
    grid-template-rows: 1fr auto;

    position: relative;
    cursor: pointer;
    overflow: clip;

    &[data-focus-visible] {
        --_state-layer-opacity: var(--md-sys-state-focus);

        --focus-indicator-thickness: calc(3 * var(--dp, 1px));
        --focus-indicator-offset: calc(2 * var(--dp, 1px));
        --focus-indicator-color: var(--md-sys-color-secondary);

        outline-width: var(--focus-indicator-thickness);
        outline-style: solid;
        outline-offset: var(--focus-indicator-offset);
        outline-color: var(--focus-indicator-color);

        z-index: 1;
    }

    &[data-focused] {
        --_state-layer-opacity: var(--md-sys-state-focus);
    }

    &[data-hovered] {
        --_state-layer-opacity: var(--md-sys-state-hover);
    }

    &[data-pressed] {
        --_state-layer-opacity: var(--md-sys-state-pressed);
    }
}

.project::before {
    content: "";

    position: absolute;
    inset: 0;

    border-radius: inherit;
    background-color: var(--_state-layer-color);

    transition: background-color var(--md-sys-motion-expressive-fast-effects)
        var(--md-sys-motion-expressive-fast-effects-duration);

    @media (prefers-reduced-motion) {
        transition: none;
    }
}

.logo img {
    object-fit: cover;
    inline-size: 100%;
    block-size: auto;
}

.info {
    text-align: center;
}
