@use "./abstract/reset";
@use "./abstract/modal";
@use "./abstract" as ab;

:root {
	--max-width: 70em;
	--max-width-wide: 90em;

	// colors
	--dark: hsl(0, 0%, 6%);
	--white: hsl(26, 100%, 97%);
	--yellow: hsl(51, 100%, 50%);
	--blue: hsl(194, 69%, 65%);

	--success: #22bb33;
	--error: #dc0000;
	--disabled: #7d7c7c;

	// background
	--bg-800: var(--dark);
	--bg-600: hsl(0, 0%, 12%);
	--bg-400: hsl(0, 0%, 18%);
	--bg-200: hsl(0, 0%, 24%);

	// text
	--text: var(--white);

	// error
	--error-hover: hsl(0, 100%, 53%);
	--error-active: hsl(0, 100%, 33%);

	// accent 1
	--accent-primary: var(--yellow);
	--accent-primary-hover: hsl(51, 100%, 65%);
	--accent-primary-active: hsl(51, 100%, 40%);

	// accent-2
	--accent-secondary: var(--blue);
	--accent-secondary-hover: hsl(194, 69%, 75%);
	--accent-secondary-active: hsl(194, 69%, 55%);

	color-scheme: dark;
	accent-color: var(--accent-secondary);
}

body {
	background-color: var(--bg-800);
}

// button
[data-type="button"] {
	--_c: var(--dark);

	padding: 0;
	border-radius: 0.5rem;
	border: 0;

	padding-inline: 1em;
	padding-block: 0.2em;
	font-weight: 500;

	background-color: var(--_bg);
	color: var(--_c);
	transition: background-color 300ms ease;

	display: inline-block;
	font-size: clamp(1rem, 1.5vi, 1.25rem);

	&:is(a) {
		text-decoration-color: transparent;
	}

	&[data-variant="primary"] {
		--_bg: var(--accent-primary);

		&:hover,
		&:focus-visible {
			--_bg: var(--accent-primary-hover);
		}

		&:active {
			--_bg: var(--accent-primary-active);
		}
	}

	&[data-variant="secondary"] {
		--_bg: var(--accent-secondary);

		&:hover,
		&:focus-visible {
			--_bg: var(--accent-secondary-hover);
		}

		&:active {
			--_bg: var(--accent-secondary-active);
		}
	}

	&[data-variant="error"] {
		--_bg: var(--error);
		--_c: var(--white);

		&:hover,
		&:focus-visible {
			--_bg: var(--error-hover);
		}

		&:active {
			--_bg: var(--error-active);
		}
	}

	&[data-load="true"] {
		width: 4.65em;
		height: 2em;
	}
	&:disabled {
		cursor: not-allowed;

		--_bg: var(--disabled);

		&:hover,
		&:focus-visible {
			--_bg: var(--disabled);
		}

		&:active {
			--_bg: var(--disabled);
		}
	}
}

// link
[data-type="link"] {
	color: var(--_c);
	text-decoration-color: transparent;

	transition: color 300ms ease, text-decoration-color 300ms ease;

	&:is(button) {
		background-color: transparent;
		border: 0;
		padding: 0;

		text-decoration: underline transparent;
		cursor: pointer;
	}

	&[data-variant="primary"] {
		--_c: var(--accent-primary);

		&:hover,
		&:focus-visible {
			--_c: var(--accent-primary-hover);
		}

		&:active {
			--_c: var(--accent-primary-active);
		}
	}

	&[data-variant="secondary"] {
		--_c: var(--accent-secondary);

		&:hover,
		&:focus-visible {
			--_c: var(--accent-secondary-hover);
		}

		&:active {
			--_c: var(--accent-secondary-active);
		}
	}

	&[data-variant="error"] {
		--_c: var(--error);

		&:hover,
		&:focus-visible {
			--_c: var(--error-hover);
		}

		&:active {
			--_c: var(--error-active);
		}
	}

	&:hover,
	&:focus-visible,
	&:active {
		text-decoration-color: currentColor;
	}

	&:is(button:disabled) {
		cursor: not-allowed;
		text-decoration-color: transparent;
	}
}

input:user-invalid {
	// border-color: var(--error);
	// outline-color: var(--error);
}

.error {
	font-size: 0.8rem;
	color: var(--error);

	text-align: center;
}

.message {
	font-size: 0.8rem;
	color: var(--success);

	text-align: center;
}

.firebase-emulator-warning {
	display: none;
}
