@use "./abstract/reset";
@use "./abstract/modal";
@use "./abstract/lexical";
@use "./abstract" as ab;

:root {
	--max-width: 70em;
	--max-width-wide: 90em;

	--input-width: 30rem;

	// colors
	--dark: hsl(0, 0%, 6%);
	--white: hsl(26, 100%, 97%);
	--yellow: rgb(255, 217, 0);
	--blue: rgb(104, 199, 227);
	--grey: #555555;

	--success: #22bb33;
	--error: #dc0000;
	--disabled: #7d7c7c;
	--active: #191919;

	// background
	--bg-800: var(--dark);
	--bg-800: #0c0c0c;

	--bg-600: #1f1f1f;
	--bg-600: var(--dark);

	--bg-400: hsl(0, 0%, 18%);
	--bg-400: #191919;

	--bg-200: hsl(0, 0%, 24%);

	// text
	--text: var(--white);

	// input
	--input-bg: var(--bg-600);
	--input-border: #75747a;

	// error
	--error-hover: hsl(0, 100%, 53%);
	--error-active: hsl(0, 100%, 33%);

	// clear
	--clear: var(--white);
	--clear-active: hsl(26, 100%, 92%);
	--clear-hover: hsl(26, 100%, 100%);

	// accent 1
	--accent-primary: var(--yellow);
	--accent-primary-hover: hsl(51, 100%, 65%);
	--accent-primary-active: hsl(51, 100%, 40%);

	// accent-2
	--accent-secondary: var(--blue);
	--accent-secondary-hover: hsl(194, 69%, 75%);
	--accent-secondary-active: hsl(194, 69%, 55%);

	color-scheme: dark;
	accent-color: var(--accent-secondary);
	caret-color: var(--accent-secondary);
}

body {
	background-color: var(--bg-800);
}

// button
[data-type="button"] {
	--_c: var(--dark);

	border-radius: 0.25rem;
	border: 0;

	padding-inline: 1.25em;
	padding-block: 0.4em;
	font-weight: 600;

	background-color: var(--_bg);
	color: var(--_c);
	transition: background-color 300ms ease;

	display: inline-block;
	font-size: clamp(1.05rem, 4.5vi, 1.35rem);

	&:is(a) {
		text-decoration-color: transparent;
	}

	&[data-variant="primary"] {
		--_bg: var(--accent-primary);

		&:hover,
		&:focus-visible {
			--_bg: var(--accent-primary-hover);
		}

		&:active {
			--_bg: var(--accent-primary-active);
		}
	}

	&[data-variant="secondary"] {
		--_bg: var(--accent-secondary);

		&:hover,
		&:focus-visible {
			--_bg: var(--accent-secondary-hover);
		}

		&:active {
			--_bg: var(--accent-secondary-active);
		}
	}

	&[data-variant="error"] {
		--_bg: var(--error);
		--_c: var(--white);

		&:hover,
		&:focus-visible {
			--_bg: var(--error-hover);
		}

		&:active {
			--_bg: var(--error-active);
		}
	}

	&[data-variant="clear"] {
		--_bg: var(--white);
		--_c: var(--dark);

		&:hover,
		&:focus-visible {
			--_bg: var(--clear-hover);
		}

		&:active {
			--_bg: var(--clear-active);
		}
	}

	&[data-load="true"] {
		width: 4.65em;
		height: 2em;
	}
	&:disabled {
		cursor: not-allowed;

		--_bg: var(--disabled);

		&:hover,
		&:focus-visible {
			--_bg: var(--disabled);
		}

		&:active {
			--_bg: var(--disabled);
		}
	}
}

// link
[data-type="link"] {
	color: var(--_c);
	text-decoration-color: transparent;

	transition: color 300ms ease, text-decoration-color 300ms ease;

	&:is(button) {
		background-color: transparent;
		border: 0;
		padding: 0;

		text-decoration: underline transparent;
		cursor: pointer;
	}

	&[data-variant="primary"] {
		--_c: var(--accent-primary);

		&:hover,
		&:focus-visible {
			--_c: var(--accent-primary-hover);
		}

		&:active {
			--_c: var(--accent-primary-active);
		}
	}

	&[data-variant="secondary"] {
		--_c: var(--accent-secondary);

		&:hover,
		&:focus-visible {
			--_c: var(--accent-secondary-hover);
		}

		&:active {
			--_c: var(--accent-secondary-active);
		}
	}

	&[data-variant="error"] {
		--_c: var(--error);

		&:hover,
		&:focus-visible {
			--_c: var(--error-hover);
		}

		&:active {
			--_c: var(--error-active);
		}
	}

	&[data-active="true"] {
		--_c: var(--accent-secondary);
	}

	&:hover,
	&:focus-visible,
	&:active {
		text-decoration-color: currentColor;
	}

	&:is(button:disabled) {
		cursor: not-allowed;
		// text-decoration-color: transparent;
	}
}

// input:user-invalid {
// border-color: var(--error);
// outline-color: var(--error);
// }

.error {
	font-size: 0.9rem;
	color: var(--error);

	text-align: center;
}

.message {
	font-size: 0.9rem;
	color: var(--success);

	text-align: center;
}

.firebase-emulator-warning {
	display: none;
}

div[data-load="true"],
div[data-empty="true"] {
	display: grid;
	min-height: 22rem;

	place-items: center;
}

input,
textarea {
	width: min(100%, var(--input-width));
}

label {
	font-size: clamp(1rem, 1.5vi, 1.25rem);
	font-weight: 500;
	color: var(--accent-secondary);
}

input,
select,
textarea {
	--_pi: 0.5em;
	--_pb: 0.4em;

	font-size: 1.25rem;
	padding-inline: var(--_pi);
	padding-block: var(--_pb);

	border-radius: 0.25em;
	border-style: solid;
	border-width: 2px;

	background-color: var(--input-bg);
	border-color: var(--input-border);
}

select {
	appearance: none;

	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNS4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZmlsbD0iI2ZmZDkwMCIgZD0iTTIwMS40IDM3NC42YzEyLjUgMTIuNSAzMi44IDEyLjUgNDUuMyAwbDE2MC0xNjBjMTIuNS0xMi41IDEyLjUtMzIuOCAwLTQ1LjNzLTMyLjgtMTIuNS00NS4zIDBMMjI0IDMwNi43IDg2LjYgMTY5LjRjLTEyLjUtMTIuNS0zMi44LTEyLjUtNDUuMyAwcy0xMi41IDMyLjggMCA0NS4zbDE2MCAxNjB6Ii8+PC9zdmc+);
	background-repeat: no-repeat;
	background-position: calc(100% - var(--_pi)) center;
	background-size: 1.5ch;
}

input[type="checkbox"] {
	width: auto;
}

textarea {
	resize: vertical;
	max-height: 20rem;
	min-height: 10rem;

	&:disabled {
		resize: none;
	}
}

h1 {
	font-size: clamp(1.75rem, 2.5vi, 2.25rem);
}

h2 {
	font-size: clamp(1.25rem, 1.75vi, 1.5rem);
}

h3 {
	font-size: clamp(1rem, 1.5vi, 1.25rem);
}
