@use "/src/styles/abstract" as ab;

.create {
	background-color: var(--bg-400);
	padding: 1em;
	display: grid;
	gap: 1.5em;

	form {
		display: grid;
		gap: 1.5em;

		.input {
			display: grid;
			gap: 0.5em;

			// input,
			// textarea {
			// 	width: min(100%, 25rem);
			// }

			// textarea {
			// 	resize: vertical;
			// 	max-height: 14rem;
			// 	min-height: 3rem;
			// }
		}

		.image_preview {
			max-height: 20rem;

			img {
				width: auto;
				height: 100%;

				object-fit: contain;
			}
		}
	}
}
