.category {
    > div[data-load="true"],
    > div[data-empty="true"] {
        min-height: 10rem;
    }

    overflow-x: auto;

    .categoryList {
        max-height: 30rem;
        overflow: auto;

        padding: var(--md-sys-layout-space-8);
        background-color: var(--md-sys-color-surface-container);
        border-radius: var(--md-sys-shape-corner-radius-extra-small);

        .action {
            display: flex;
            gap: 1em;
            align-items: center;
        }

        ul {
            margin: 0;

            padding-inline-start: var(--md-sys-layout-space-32);

            list-style-type: none;
            display: grid;
            gap: var(--md-sys-layout-space-8);

            li {
                display: grid;
                gap: var(--md-sys-layout-space-8);
            }
        }

        > ul {
            padding: 0;
        }

        .details {
            display: flex;
            gap: var(--md-sys-layout-space-4);
            align-items: center;

            background-color: var(--md-sys-color-surface-container-high);
            padding-inline: var(--md-sys-layout-space-8);
            border-radius: var(--md-sys-shape-corner-radius-extra-small);
        }
    }
}
