@use "/src/styles/abstract" as ab;

// styles for layout
.layout {
	display: grid;
	gap: 2em;
}

// styles for active project
.project {
	display: grid;
	gap: 2em;

	border-radius: 0.75em;

	.header {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
		align-items: center;
	}

	.project_list {
		display: grid;
		gap: 1.5em;

		grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
	}
}
