@use "/src/styles/abstract" as ab;

.profile {
	.container {
		display: grid;
		gap: 2.25em;
		border-radius: 0.75em;

		padding: clamp(1em, 2.5vi, 2em) 0;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			font-size: clamp(1rem, 1.5vi, 1.25rem);
		}
	}

	.main {
		form {
			--_g: clamp(1em, 2vi, 1.75em);
			--_w: min(100%, 50rem);

			display: grid;
			gap: var(--_g);
		}

		.input {
			display: grid;
			gap: 0.5em;

			width: var(--_w);

			input {
				width: 100%;
			}
		}

		.inputGroup {
			display: grid;
			gap: var(--_g);
			width: var(--_w);

			grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
		}
	}

	.action {
		display: flex;
		gap: 1em;
	}
}

.modal_changePassword {
	--_w: 30rem;

	.modal {
		display: grid;
		gap: 1em;
	}

	.form {
		display: grid;
		gap: 1.5em;

		.input {
			display: grid;
			gap: 0.25em;

			input {
				width: 100%;
			}
		}

		.button {
			display: flex;
			justify-content: flex-end;
			gap: 1.5em;
		}
	}
}
