.header {
    position: sticky;
    top: 0;

    z-index: 1000;

    &[data-docked-navigation] {
        border-radius: var(--md-sys-shape-corner-radius-medium);
    }

    &[data-user-project] {
        position: static;
    }
}

.link {
    text-decoration: none;
    color: inherit;
}
