@use "/src/styles/abstract" as ab;

.layout {
	display: grid;
	gap: 1.5em;
}

.gallery {
	display: grid;
	gap: 1.5em;

	.search {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: space-between;
	}

	.container {
		display: grid;
		gap: 1em;

		.table {
			container-name: album;
			display: grid;

			grid-template-columns: 1fr auto auto;
			row-gap: 1em;
			column-gap: clamp(1em, 3vi, 3em);

			h4 {
				color: var(--accent-secondary);
				font-size: clamp(1rem, 1.5vi, 1.25rem);
				font-weight: 600;
			}

			> :nth-child(odd) {
				background-color: var(--bg-400);
			}

			> * {
				// heading, or container
				display: grid;
				grid-template-columns: subgrid;

				grid-column: span 3;
				// padding: 0.75em 1.25em;
				padding: 1.25em;
				border-radius: 0.25em;

				> * {
					// individual items
					grid-column: span 1;
				}
			}

			@include ab.album-table {
				grid-template-columns: none;
				gap: 0.25em;

				.heading {
					display: none;
				}

				> * {
					grid-template-columns: 1fr 1fr;
					background-color: var(--bg-400);

					padding: 1.5em 1em;
					border-radius: 0.75em;
					border-bottom: 1.5px solid var(--white);
					gap: 0.5em;
					row-gap: 1.5em;

					> :first-child {
						grid-column: span 2;
					}
				}
			}
		}
	}
}
