.form {
    display: grid;
    gap: var(--md-sys-layout-space-16);
}

.error-message {
    color: var(--md-sys-color-error);
}

.roles-list {
    --md-menu-background: var(--md-sys-color-surface-container-high);
    --md-menu-item-background: var(--md-sys-color-surface-container-high);
}
