@use "/src/styles/abstract" as ab;

.blogs {
	display: grid;
	gap: 1.5em;

	.search {
		display: flex;
		gap: 1em;
		align-items: center;
		justify-content: space-between;
	}

	.container {
		display: grid;
		gap: 1em;
	}
}

.layout {
	display: grid;
	gap: 2em;
}
