.blogs {
    display: grid;
    gap: var(--md-sys-layout-spacer);

    > * {
        min-inline-size: 0;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--md-sys-layout-space-12);
}

.search {
    inline-size: 100%;
    max-inline-size: var(--md-sys-layout-window-size-expanded);
}
