.user {
    padding-block: calc(10 * var(--dp, 1px));
    padding-inline: var(--md-sys-layout-space-16);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--md-sys-color-secondary-container);
    border-radius: var(--md-sys-shape-corner-radius-extra-small);

    &[data-focus-visible-within] {
        --focus-indicator-thickness: calc(3 * var(--dp, 1px));
        --focus-indicator-offset: calc(2 * var(--dp, 1px));
        --focus-indicator-color: var(--md-sys-color-secondary);

        outline-width: var(--focus-indicator-thickness);
        outline-style: solid;
        outline-offset: var(--focus-indicator-offset);
        outline-color: var(--focus-indicator-color);

        z-index: 1;
    }
}

.leading {
    display: grid;
}

.name {
    color: var(--md-sys-color-on-secondary-container);
}

.info {
    color: var(--md-sys-color-on-secondary-container);

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: var(--md-sys-layout-space-4);
}

.trailing {
    --md-button-color: var(--md-sys-color-on-secondary-container);
}
