.add {
    display: grid;
    gap: var(--md-sys-layout-spacer);

    > * {
        min-inline-size: 0;
    }
}

.toolbar {
    position: fixed;
    z-index: 100;
    inset-block-end: var(--md-sys-layout-window-size-medium-margin);
    inset-inline-start: 50%;

    translate: -50%;
}

.selection-info {
    position: absolute;
    background-color: var(--md-sys-color-surface-container-high);

    padding: var(--md-sys-layout-space-12);

    border-radius: var(--md-sys-shape-corner-radius-full);
    box-shadow: var(--md-sys-elevation-shadow-2);

    inset-inline-start: 50%;
    inset-block-start: calc(-1 * calc(48 * var(--dp, 1px)));
    translate: -50%;

    white-space: nowrap;
    overflow: clip;
}

.image {
    position: relative;
    border-radius: var(--md-sys-shape-corner-radius-small);

    img {
        border-radius: var(--md-sys-shape-corner-radius-small);

        inline-size: 100%;
        block-size: auto;

        object-fit: cover;
    }

    &[data-focus-visible-within] {
        --focus-indicator-thickness: calc(3 * var(--dp, 1px));
        --focus-indicator-offset: calc(2 * var(--dp, 1px));
        --focus-indicator-color: var(--md-sys-color-secondary);

        outline-width: var(--focus-indicator-thickness);
        outline-style: solid;
        outline-offset: var(--focus-indicator-offset);
        outline-color: var(--focus-indicator-color);

        z-index: 1;
    }

    &[data-selected] {
        img {
            outline: var(--md-sys-shape-border-width-extra-thick) solid
                var(--md-sys-color-primary);
        }
    }
}

.selection {
    position: absolute;
    margin: var(--md-sys-layout-space-8);
}
