@use "/src/styles/abstract" as ab;

.news {
	padding: clamp(0.75em, 1.5vi, 1.25em);

	background-color: var(--bg-400);
	display: grid;
	gap: 1.5em;

	.list {
		display: grid;
		gap: 1em;
	}

	.item {
		background-color: var(--bg-200);
		padding: 0.5em;

		display: grid;
		gap: 1em;

		&_action {
			display: flex;
			gap: 2em;
			justify-content: flex-end;
		}

		&_details {
			display: grid;
			gap: 0.5em;

			input,
			textarea {
				width: min(100%, 30rem);
			}

			textarea {
				min-height: 3rem;
				resize: vertical;

				max-height: 10rem;
			}
		}
	}
}
