@use "../../../../../../../../styles/abstract" as ab;

.container {
  display: grid;
  gap: 2em;

  .header {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    display: grid;
    gap: 2em;

    >* {
      display: grid;
      gap: 1em;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1em;
    }

    .empty {
      text-align: center;
      padding: 1em;
    }

    .table_header {
      display: grid;
      grid-template-columns: 1.5fr 3fr 0.5fr;
      column-gap: clamp(1em, 5vi, 5em);
      padding: 0.75em 1.25em;

      h4 {
        font-size: clamp(1rem, 1.5vi, 1.25rem);
        color: var(--accent-secondary);
        font-weight: 600;
      }

      @include ab.admin-table {
        display: none;
      }
    }

    .users_list {
      display: grid;
      gap: 0.5em;
    }

    .user_item {
      display: grid;
      grid-template-columns: 1.5fr 3fr 0.5fr;
      column-gap: clamp(1em, 5vi, 5em);
      align-items: center;
      padding: 0.75em 1.25em;
      background-color: var(--md-sys-color-secondary-container);
      border-radius: var(--md-sys-shape-corner-radius-extra-small);

      .user_field {
        font-size: clamp(1rem, 1.5vi, 1.25rem);
        color: var(--md-sys-color-on-secondary-container);
      }

      .user_action {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &[data-focus-visible-within] {
        --focus-indicator-thickness: 3px;
        --focus-indicator-offset: 2px;
        --focus-indicator-color: var(--md-sys-color-secondary);

        outline-width: var(--focus-indicator-thickness);
        outline-style: solid;
        outline-offset: var(--focus-indicator-offset);
        outline-color: var(--focus-indicator-color);

        z-index: 1;
      }

      @include ab.admin-table {
        grid-template-columns: none;
        background-color: var(--md-sys-color-secondary-container);
        padding: 1.5em 1em;
        border-radius: 0.75em;
        gap: 0.5em;

        .user_field {
          display: grid;
          grid-template-columns: 10ch auto;
          word-break: break-all;

          &::before {
            content: attr(data-key) " ";
            color: var(--accent-secondary);
            font-weight: 600;
          }
        }

        .user_action {
          display: grid;
          grid-template-columns: 10ch auto;

          &::before {
            content: attr(data-key) " ";
            color: var(--accent-secondary);
            font-weight: 600;
          }
        }
      }
    }
  }
}
