@use "/src/styles/abstract" as ab;

.userTable {
	--_p: clamp(0.75em, 1.5vi, 1.25em);

	display: grid;
	row-gap: 0.675em;

	padding: calc(var(--_p) + 0.5em) clamp(0.75em, 1.5vi, 1.25em);

	border-radius: 0.5em;

	border-bottom: 1.5px solid var(--white);

	@include ab.container-table {
		grid-template-columns: subgrid;
		grid-column: 1 / 7;

		border: 0;

		padding-inline: var(--_pi);
		padding-block: var(--_pb);
		border-radius: var(--_r);

		.name {
			grid-column: 1 / 2;
		}

		.email {
			grid-column: 2 / 3;
		}

		.role {
			grid-column: 3 / 4;
		}

		.created {
			grid-column: 4 / 5;
		}

		.edit {
			grid-column: 5 / 6;
		}

		.delete {
			grid-column: 6 / 7;
		}
	}

	p {
		font-size: clamp(1rem, 1.5vi, 1.25rem);
		display: grid;
		grid-template-columns: 11ch auto;

		justify-items: start;

		&::before {
			content: attr(data-label);
			font-weight: 700;
			color: var(--accent-secondary);
		}

		@include ab.container-table {
			font-size: clamp(1rem, 1.15vi, 1.15rem);
			display: block;

			&::before {
				display: none;
			}
		}

		word-break: break-all;
	}
}

.modalContent {
	display: grid;
	gap: 1em;

	.input {
		display: grid;
		gap: 0.5em;

		input {
			width: 100%;
		}

		select {
			max-width: 20rem;
		}
	}
}
