@use "/src/styles/abstract" as ab;

.user {
	background-color: var(--bg-400);
	padding: clamp(0.75em, 1.5vi, 1.25em);

	border-radius: 0.75em;

	display: grid;
	gap: 0.75em;

	.edit {
		display: flex;
		justify-content: flex-end;
	}

	.action {
		display: flex;
		justify-content: flex-end;
		gap: 2em;
	}
}

.delete {
	--_bg: var(--error);
	--_c: var(--white);

	&:hover,
	&:focus-visible {
		--_bg: var(--error-hover);
	}

	&:active {
		--_bg: var(--error-active);
	}

	&[data-type="link"] {
		--_c: var(--error);

		&:hover,
		&:focus-visible {
			--_c: var(--error-hover);
		}

		&:active {
			--_c: var(--error-active);
		}
	}
}

.deleteConfirm {
	--_w: 35em;

	.modal {
		display: grid;
		gap: 1em;
	}

	.content {
		display: grid;
		gap: 0.5em;
	}

	.action {
		display: flex;
		gap: 2em;
		justify-content: flex-end;
	}
}
