@use "/src/styles/abstract" as ab;

.details {
	display: grid;
	gap: 1em;

	.form {
		--input-width: 50rem;

		display: grid;
		gap: 1.5em;

		.input {
			display: grid;
			gap: 0.5em;
		}

		.image_preview {
			max-height: 20rem;

			img {
				width: auto;
				height: 100%;

				object-fit: contain;
			}
		}
	}

	.actions {
		display: flex;
		gap: 1em;

		justify-content: space-between;
	}
}
