@use "/src/styles/abstract" as ab;

.home {
	height: 100%;

	.container {
		display: grid;
		gap: 1em;
		grid-template-rows: auto auto 1fr;

		height: 100%;

		p {
			font-size: clamp(1rem, 1.75vi, 1.5rem);
		}

		.image {
			align-self: end;

			img {
				width: auto;
				height: auto;
				object-fit: cover;
				margin-inline-start: auto;
			}
		}
	}
}

.layout {
	--_w: 0;
	--_g: clamp(1.5em, 2.25vi, 2em);

	height: 100vb;
	overflow: hidden;

	display: grid;
	grid-template-columns: var(--_w) 1fr;

	transition: grid-template-columns 300ms;

	&:has(.navCheckbox:checked) {
		--_w: 70vi;

		.nav {
			opacity: 1;
			transition: opacity 150ms 150ms;
		}

		.main::before {
			z-index: 1;
			opacity: 1;
		}
	}

	@include ab.nav {
		--_w: clamp(16rem, 25vi, 20rem);

		&:has(.navCheckbox:checked) {
			--_w: clamp(16rem, 25vi, 20rem);
		}

		.main::before {
			display: none;
		}
	}

	.navCheckbox {
		display: none;
	}

	.nav {
		overflow: hidden;
		opacity: 0;

		transition: opacity 0ms;

		@include ab.nav {
			opacity: 1;
		}
	}

	.main {
		--_nav: 4.5rem;

		position: relative;
		width: 100vi;

		display: grid;
		align-content: start;
		gap: var(--_g);

		grid-template-areas: "header" "content";
		grid-template-rows: var(--_nav) 1fr;

		& > :first-child {
			grid-area: header;
		}

		@include ab.nav {
			width: auto;
		}

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.75);
			backdrop-filter: blur(5px);
			opacity: 0;
			z-index: -1;

			transition: opacity 300ms;
		}
	}

	.content {
		grid-area: content;

		overflow: auto;
		height: calc(100vb - var(--_g) - var(--_nav));
		padding-block: 5px 2em;
	}
}
