.services {
    display: grid;
    gap: 1em;
}

.services .action {
    display: flex;
    justify-content: flex-end;
}

.services .list {
    display: flex;
    gap: clamp(0.5em, 1vi, 1em);
    flex-wrap: wrap;
}

.modal_content {
    display: grid;
    gap: 2.5em;
}

.modal_content > * {
    display: grid;
    gap: 1.5em;
}

.modal_content > * .empty {
    text-align: center;
}

.modal_content > * .load {
    margin-block: 1em;
}

.modal_content .title {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.modal_content .items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

:global([class*="avatar-constraint"]) {
    display: flex;
    align-items: center;
    justify-content: center;
}

:global([class*="avatar-constraint"]) img {
    display: block;
    object-fit: contain;
}
