@use "/src/styles/abstract" as ab;

.album {
	display: grid;
	gap: 2em;

	.heading {
		display: flex;
		gap: 2em;
		align-items: center;
		justify-content: space-between;
	}

	.container {
		// outline: 2px solid lightblue;
		container-name: album-image;

		display: grid;
		gap: 1.5em;

		.action {
			text-align: right;
		}

		.images {
			display: grid;
			gap: 1em;

			@include ab.motion {
				@include ab.hover {
					&:hover {
						.imagesChild > div {
							scale: 0.9;
						}
					}
				}
			}
		}
		.imagesChild {
			--_count: 1;
			// display: grid;
			// gap: 1em;

			// grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
			// grid-auto-rows: auto;

			column-count: var(--_count);
			column-gap: 1em;

			@include ab.album-image-40 {
				--_count: 2;
			}

			@include ab.album-image-64 {
				--_count: 3;
			}

			> div {
				overflow: hidden;
				border-radius: 0.5em;
				margin-block-end: 1em;

				transition: scale 200ms, border-radius 200ms;

				@include ab.motion {
					@include ab.hover {
						&:hover:hover {
							scale: 1.1;
							border-radius: 0;
						}
					}
				}
			}

			img {
				width: 100%;
				height: auto;
				object-fit: cover;

				transition: scale 200ms;

				@include ab.motion {
					@include ab.hover {
						&:hover {
							scale: 1.1;
						}
					}
				}
			}
		}
	}
}

.modal {
	--_w: 70em;

	.addImages {
		--_input-width: 100%;
		--_height: 70dvb;

		display: grid;
		gap: 0.5em;
	}
}
