@use "/src/styles/abstract" as ab;

.nav {
	background-color: var(--bg-600);
	height: 100%;

	padding-inline: clamp(1em, 2vi, 2em);
	padding-block: 1em;

	display: grid;
	gap: clamp(3em, 6vi, 5.5em);

	align-content: start;

	box-shadow: inset -1px 0px var(--white);
	@include ab.nav {
	}

	.logo {
		width: clamp(10rem, 20vi, 20rem);
	}

	.links {
		display: grid;
		gap: clamp(1em, 1.5vi, 1.5em);

		a {
			font-size: clamp(1.25rem, 1.75vi, 1.25rem);
			font-weight: 600;
		}
	}
}
