@use "/src/styles/abstract" as ab;

.form {
	display: grid;
	gap: 2em;

	form {
		display: grid;
		gap: 1.5em;
	}

	.inputGroup {
		display: grid;
		gap: 1.5rem;

		width: min(100%, 50rem);

		@include ab.container-35 {
			grid-template-columns: 1fr clamp(12.5rem, 20vi, 15rem);
		}
	}

	.input {
		display: grid;
		gap: 0.5em;

		input {
			width: min(100%, 50rem);
		}
	}

	.select {
		display: grid;
		gap: 0.5em;

		select {
		}
	}

	.action {
		display: flex;
		gap: 2em;

		margin-block-start: 1.5em;
	}
}
